<div class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto" cdkScrollable>

        <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pb-22 sm:pt-3 sm:pb-20 sm:px-10 bg-default dark:bg-transparent">
        <div class="flex-1 min-w-0">
            
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-3xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Global Settings
                </h2>
            </div>
        </div>
    </div>


    <!-- Main -->
    <div class="flex-auto -mt-16 p-6 sm:p-10 shadow bg-card">

        <!-- CONTENT GOES HERE -->
        <div class="justify-center h-full">

            <div class="max-w-160 mb=10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </div>

            <br />
            <div class="flex-none">
                
                <div class="form-group">
                    <mat-slide-toggle
                    color="primary"
                    class="mt-10 mb-10">
                    Toggle #1
                    </mat-slide-toggle>
                </div>

                <div class="form-group">
                    <mat-slide-toggle
                    color="primary"
                    class="mb-10">
                    Toggle #2
                    </mat-slide-toggle>
                </div>

                <div class="form-group">
                    <mat-slide-toggle
                    color="primary"
                    class="mb-10">
                    Toggle #3
                    </mat-slide-toggle>
                </div>
            </div>

        </div>

    </div>

</div>

